.navigation {
    background-color: aqua;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__button {
        margin-right: 25px;
        width: auto;
        padding: 0 25px;
        color: black;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: white;
    }
}